.product  {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.product-image {
  width: 120px;
  height: 140px;
  border: 1px solid #ccc;
}

.product-name {
  color: #adadad;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.price {
  font-weight: 800;
  color: #ea1c24;
  font-size: 16px;
  margin-bottom: 10px;
}

.buy-btn {
  background-color:#80bdb8;
  width: 100px;
  padding: 4px;
  border-radius: 3px;
}