@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  outline: 0;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body, input {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 80px auto 0;
  margin-top: 0;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.bottom-bar {
  height: 20%;
  width: 100%;
  max-width: 1000px;
  margin-left: 15%; 
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  margin-left: -40%; 
  justify-content: space-around; 
}

.search {
  display: flex;
}

.menu {
  background-color: #ea1c24;
  font-weight: bold;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu > a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  margin-left: 20px;
}

.menu > a:first-child {
  margin-left: 15%;
}

input {
  height: 35px;
  border: 1px solid rgb(155, 151, 151);
}

.btn {
  background-color: #ea1c24;
  height: 36px;
  padding: 8px;
  color: #fff;
  font-weight: 800    
}

.site-tree {
  margin-left: 15%;
  margin-top: 20px;
}

.site-tree span {
  color: #ea1c24;
}