.login {
  background-color: #000;
  color: #fff;
  text-align: end;
}

.login > a {
  color: #fff;
}

.logo-red { 
  color: red;
}

footer {
  width: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
}

footer > a {
  margin-right: 4px;
  margin-left: 4px;
}

#menu-click {
  display: none;
}

.welcome  a {
  text-decoration: none;
  color: #ea1c24;
}

.search-button {
  display: none;
}

.welcome {
  margin-top: 20%;
  margin-bottom: 15%;
  
}

.bottom-bar {
  background-color: #ea1c24;
  width: 100%;
}

.container .bottom-bar {
  align-self: flex-end;
}

.filter {
  display: flex;
}

@media screen and (max-width: 320px) {

  .menu {
    display: none;
  }                                 

  .search-button {
    display: block;
  }

  .mobile-menu > span {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    transition: .5s ease-in-out;
  } 
  
  .mobile-menu > span:before,
  .mobile-menu > span:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
  }

  .search-bar {
    display: none;
  }
  
  .btn {
    display: none;
  }
  
  .mobile-menu > span:before {
    top: -10px;
  }
  
  .mobile-menu > span:after {
    bottom: -10px;
  }
  
  .menu-click:checked ~ .mobile-menu > span {
    transform: rotate(45deg);
  }
  
  .menu-click:checked ~ .mobile-menu > span:before {
    transform: rotate(90deg);
    top: 0;
  }
  
  .menu-click:checked ~ .mobile-menu > span:after {
    transform: rotate(90deg);
    bottom: 0;
  } 

  .welcome {
    display: grid;
    text-align: center;
    margin-top: 50%;
    align-self: center;
    justify-self: center;
  
  }
}

@media screen and (min-width: 320px) {
  



}