.login {
  background-color: #000;
  color: #fff;
  text-align: end;
}

.login > a {
  color: #fff;
}

.logo-red { 
  color: red;
}

footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 6px;
  display: flex;
  justify-content: flex-end;
}

footer > a {
  margin-right: 4px;
  margin-left: 4px;
  color: #fff;
}

footer a:last-child {
  margin-right: 15%;
}

#menu-click {
  display: none;
}

.menu {
  background-color: #ea1c24;
  font-weight: bold;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottom-bar {
  height: 20%;
  width: 100%;
  max-width: 1000px;
  margin-left: 15%; 
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  margin-left: -40%; 
  justify-content: space-around; 
}

.search {
  display: flex;
}

.menu > a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  text-transform: uppercase;
}

.menu > a:first-child {
  margin-left: 15%;
}

input {
  height: 35px;
  border: 1px solid rgb(155, 151, 151);
}

.btn {
  color: #fff;
  font-weight: 800    
}

.search-btn {
  background-color: #ea1c24;
  padding: 8px;
  height: 36px;
}

.site-tree {
  margin-left: 15%;
  margin-top: 20px;
}

.site-tree span {
  color: #ea1c24;
}

.search-button {
  display: none;
}

.welcome {
  margin-top: 20%;
  margin-bottom: 15%;
  
}

.bottom-bar {
  background-color: #ea1c24;
  width: 100%;
}

.container .bottom-bar {
  align-self: flex-end;
}

.filter {
  display: flex;
}

@media screen and (max-width: 320px) {

  .menu {
    display: none;
  }                                 

  .search-button {
    display: block;
  }

  .mobile-menu > span {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    transition: .5s ease-in-out;
  } 
  
  .mobile-menu > span:before,
  .mobile-menu > span:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
  }

  .search-bar {
    display: none;
  }
  
  .btn {
    display: none;
  }
  
  .mobile-menu > span:before {
    top: -10px;
  }
  
  .mobile-menu > span:after {
    bottom: -10px;
  }
  
  .menu-click:checked ~ .mobile-menu > span {
    transform: rotate(45deg);
  }
  
  .menu-click:checked ~ .mobile-menu > span:before {
    transform: rotate(90deg);
    top: 0;
  }
  
  .menu-click:checked ~ .mobile-menu > span:after {
    transform: rotate(90deg);
    bottom: 0;
  } 

  .welcome {
    display: grid;
    text-align: center;
    margin-top: 50%;
    align-self: center;
    justify-self: center;
  
  }
}

@media screen and (min-width: 320px) {
  



}