@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  outline: 0;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
}

body, input {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 80px auto 0;
  margin-top: 0;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

